SIPP/WebAppCliente/Service References/RemoteServiceLocal/ServiceLocal2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:19685/ServiceLocal.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entities.DTOs" />
  <xs:import schemaLocation="http://localhost:19685/ServiceLocal.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Entities" />
  <xs:import schemaLocation="http://localhost:19685/ServiceLocal.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="encodePass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="encodePassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="encodePassResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registroEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="enterprise" nillable="true" type="q1:DTOEmpresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registroEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registroEmpresaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="enterprise" nillable="true" type="q2:DTOEmpresa" />
        <xs:element minOccurs="0" name="rutEmpresa" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modificarEmpresaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passEmpresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="loginEmpresaResult" nillable="true" type="q3:DTOEmpresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="borrarEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rut" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="borrarEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="borrarEmpresaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="comprobarRut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rut" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="comprobarRutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="comprobarRutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="comprobarRazonLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="razonSocial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="comprobarRazonLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="comprobarRazonLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarArticulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="item" nillable="true" type="q4:DTOArticulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarArticuloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agregarArticuloResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="borrarArticulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="item" nillable="true" type="q5:DTOArticulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="borrarArticuloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="borrarArticuloResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getArticulos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getArticulosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="getArticulosResult" nillable="true" type="q6:ArrayOfDTOArticulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getArticulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreArticulo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getArticuloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="getArticuloResult" nillable="true" type="q7:DTOArticulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="altaArticuloLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="articulo" nillable="true" type="q8:Articulo" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="local" nillable="true" type="q9:Local" />
        <xs:element minOccurs="0" name="nuevocosto" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="altaArticuloLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="altaArticuloLocalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bajaArticuloLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="articulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="local" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bajaArticuloLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bajaArticuloLocalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarArticuloLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="articulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="local" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nuevocosto" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarArticuloLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modificarArticuloLocalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getArticuloByLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreArticulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreLocal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getArticuloByLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="getArticuloByLocalResult" nillable="true" type="q10:DTOArticuloLocal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getArticulosLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreLocal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getArticulosLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="getArticulosLocalResult" nillable="true" type="q11:ArrayOfDTOArticuloLocal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registroLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="sucursal" nillable="true" type="q12:DTOLocal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registroLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registroLocalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="sucursal" nillable="true" type="q13:DTOLocal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modificarLocalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreLocal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rut" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="getLocalResult" nillable="true" type="q14:DTOLocal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="borrarLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreLocal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rut" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="borrarLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="borrarLocalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocalesPorArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitudCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="longitudCliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocalesPorAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="getLocalesPorAreaResult" nillable="true" type="q15:ArrayOfDTOLocal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocalesPorLocalidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lugar" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocalesPorLocalidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="getLocalesPorLocalidadResult" nillable="true" type="q16:ArrayOfDTOLocal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocalidades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocalidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getLocalidadesResult" nillable="true" type="q17:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocalesPorEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idempresa" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocalesPorEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="getLocalesPorEmpresaResult" nillable="true" type="q18:ArrayOfDTOLocal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocalesXEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empresa" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocalesXEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="getLocalesXEmpresaResult" nillable="true" type="q19:ArrayOfDTOLocal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarPassLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rut" type="xs:long" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarPassLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modificarPassLocalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreLocal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="loginLocalResult" nillable="true" type="q20:DTOLocal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEspecificaciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEspecificacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="getEspecificacionesResult" nillable="true" type="q21:ArrayOfDTOEspecificacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEspecificacionesLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreLocal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEspecificacionesLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="getEspecificacionesLocalResult" nillable="true" type="q22:ArrayOfDTOEspecificacionLocal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarGusto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="espesificacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="local" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="costo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarGustoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agregarGustoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarGusto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="espesificacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="local" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="costo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarGustoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modificarGustoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="borrarGusto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="espesificacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="local" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="borrarGustoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="borrarGustoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPedidos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreLocal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPedidosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="getPedidosResult" nillable="true" type="q23:ArrayOfDTOPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="getPedidoResult" nillable="true" type="q24:DTOPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="ped" nillable="true" type="q25:DTOPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardarPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guardarPedidoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="comprobarNombreLocalLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreLocal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="comprobarNombreLocalLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="comprobarNombreLocalLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="state" nillable="true" type="q26:DTOEstado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agregarEstadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="state" nillable="true" type="q27:DTOEstado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modificarEstadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="elimarEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="state" nillable="true" type="q28:DTOEstado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="elimarEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="elimarEstadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="getEstadoResult" nillable="true" type="q29:DTOEstado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>