SIPP/WebAppCliente/Service References/RemoteServiceUsuario/ServiceUsuario2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:19685/ServiceUsuario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entities.DTOs" />
  <xs:element name="obtenerValoracionesDeEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rut" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerValoracionesDeEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="obtenerValoracionesDeEmpresaResult" nillable="true" type="q1:ArrayOfDTOValoracion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ingresarValoracion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="v" nillable="true" type="q2:DTOValoracion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ingresarValoracionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="ingresarValoracionResult" nillable="true" type="q3:DTOValoracion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerEmpresaPorLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="local" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerEmpresaPorLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="obtenerEmpresaPorLocalResult" nillable="true" type="q4:DTOEmpresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerPedidosDeUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="u" nillable="true" type="q5:DTOUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerPedidosDeUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="obtenerPedidosDeUsuarioResult" nillable="true" type="q6:ArrayOfDTOPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="getUsuariosResult" nillable="true" type="q7:ArrayOfDTOUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registroUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="u" nillable="true" type="q8:DTOUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registroUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="registroUsuarioResult" nillable="true" type="q9:DTOUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="u" nillable="true" type="q10:DTOUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="loginUsuarioResult" nillable="true" type="q11:DTOUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="ObtenerUsuarioResult" nillable="true" type="q12:DTOUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="u" nillable="true" type="q13:DTOUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guardarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprobarEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="u" nillable="true" type="q14:DTOUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprobarEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComprobarEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUbicaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUbicacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="getUbicacionesResult" nillable="true" type="q15:ArrayOfDTOUbicacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="p" nillable="true" type="q16:DTOPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Entities.DTOs" minOccurs="0" name="IngresarPedidoResult" nillable="true" type="q17:DTOPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>